/* styles.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;

  background-size: cover; /* Adjust the size to cover the entire element */
  background-repeat: no-repeat;
  min-height: 100vh;
  background-color: rgba(255, 255, 255, 0.5);
}

.container {
  max-width: 800px;
  margin: 20px auto;
}

h1 {
  text-align: center;
  color: #333;
}

form {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
input[type="date"],
textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #3f51b5;
  color:white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #383636;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
